In [43]:
import pandas as pd

In [44]:
# id获取类别名称
class_list = pd.read_csv('data/custom/labels.txt',sep='\t',dtype=str,names=['label']).label.to_list()
id2label = {str(id):value for id ,value in enumerate(class_list)}
id2label

{'0': '看车-找车-按级别',
 '1': '看车-找车-动力/能源',
 '2': '看车-找车-按车身结构',
 '3': '看车-找车-按价格',
 '4': '看车-找车-排行榜',
 '5': '看车-找车-按其他需求',
 '6': '看车-找车-按特殊种类',
 '7': '看车-品牌-品牌名',
 '8': '看车-厂商-厂商名',
 '9': '看车-车系-车系名',
 '10': '看车-车系-口碑/评价',
 '11': '看车-车系-油耗/续航',
 '12': '看车-车系-评测/试驾',
 '13': '看车-车系-车系销量',
 '14': '看车-车型-年代款',
 '15': '看车-车型-按其他标识',
 '16': '看车-对比-车系对比',
 '17': '看车-对比-车型对比',
 '18': '看车-对比-其他',
 '19': '看车-其他-看车/其他',
 '20': '买车-车价格/优惠-车价格/优惠',
 '21': '买车-车金融/保险-车贷款',
 '22': '买车-车金融/保险-车保险',
 '23': '买车-经销商/4S店-经销商/4S店',
 '24': '买车-经销商/4S店-经销商名称',
 '25': '买车-二手车-品牌二手车',
 '26': '买车-二手车-车系二手车',
 '27': '买车-二手车-二手车',
 '28': '买车-二手车-置换',
 '29': '买车-其他-其他',
 '30': '用车-用车教程/百科-教程',
 '31': '用车-故障/维修/保养-故障/维修/保养',
 '32': '用车-改装/美容-改装/美容',
 '33': '用车-零部件/配件/用品-发动机/变速箱',
 '34': '用车-零部件/配件/用品-轮胎/轮毂',
 '35': '用车-零部件/配件/用品-照明',
 '36': '用车-零部件/配件/用品-其他',
 '37': '用车-实用工具/服务-查违章',
 '38': '用车-实用工具/服务-查限行',
 '39': '用车-实用工具/服务-购车计算器',
 '40': '用车-实用工具/服务-查油价',
 '41': '用车-实用工具/服务-租车',
 '42': '用车-实用工具/服务-其他',
 '43': '用车-其他-其他',
 '44': '其他-新闻/事件-行业热点',
 '45': '其他-新闻/事件-车展',
 '46': '其他-新闻/事件-公司重大活动',
 '47': '其他-作者/节目/栏目-作者/节目/栏目',
 '48': '其他-自驾/旅行-自驾/旅行',
 '49': '其他-政策/法规/流程-政策/法规/流程',
 '50': '其他-赛事-赛事',
 '51': '其他-互动/社区-论坛',
 '52': '其他-互动/社区-车友圈',
 '53': '其他-未知意图-未知意图'}

In [45]:
output_cols = ['query','label_idx_gt','label_val_gt','diff_val','entity','model1_pred_idx','model1_pred_val','model2_pred_idx','model2_pred_val']
test_data = pd.read_csv('data/custom/test_data.txt',sep='\t',dtype=str,names = ['query','label_idx_gt'])
test_data['label_val_gt'] = test_data['label_idx_gt'].map(id2label)
test_data

             query label_idx_gt label_val_gt
0            s90t8           15  看车-车型-按其他标识
1            奔驰23款           14    看车-车型-年代款
2         2022款rav           14    看车-车型-年代款
3    奔驰gle350e油电混合           15  看车-车型-按其他标识
4            12年q5           14    看车-车型-年代款
..             ...          ...          ...
995       2015p帕萨特           14    看车-车型-年代款
996           大众大众            7    看车-品牌-品牌名
997        18年路虎揽胜           14    看车-车型-年代款
998       gls350猎装           15  看车-车型-按其他标识
999        cls6308           14    看车-车型-年代款

[1000 rows x 3 columns]

In [46]:
model1_df = pd.read_csv('test_res_entity0816.txt',sep='\t',dtype=str)
model1_df.rename(columns={'pred':'model1_pred_idx'},inplace=True)
model1_df['model1_pred_val'] = model1_df['model1_pred_idx'].map(id2label)
model1_df

KeyError: 'model1_pred_idx'

In [ ]:
model2_df = pd.read_csv('test_res_entity0818_.txt',sep='\t',dtype=str)
model2_df.rename(columns={'pred':'model2_pred_idx'},inplace=True)
model2_df['model2_pred_val'] = model2_df['model2_pred_idx'].map(id2label)
model2_df

    label model2_pred_idx model2_pred_val
0      15              15     看车-车型-按其他标识
1      14               5     看车-找车-按其他需求
2      14              14       看车-车型-年代款
3      15              15     看车-车型-按其他标识
4      14              14       看车-车型-年代款
..    ...             ...             ...
995    14              14       看车-车型-年代款
996     7               7       看车-品牌-品牌名
997    14              14       看车-车型-年代款
998    15              15     看车-车型-按其他标识
999    14              14       看车-车型-年代款

[1000 rows x 3 columns]

In [ ]:
test_data[['model1_pred_idx','model1_pred_val']] = model1_df[['model1_pred_idx','model1_pred_val']]
test_data[['model2_pred_idx','model2_pred_val']] = model2_df[['model2_pred_idx','model2_pred_val']]
test_data

,query,label_idx_gt,label_val_gt,model1_pred_idx,model1_pred_val,model2_pred_idx,model2_pred_val
0,s90t8,15,看车-车型-按其他标识,15,看车-车型-按其他标识,15,看车-车型-按其他标识
1,奔驰23款,14,看车-车型-年代款,5,看车-找车-按其他需求,5,看车-找车-按其他需求
2,2022款rav,14,看车-车型-年代款,14,看车-车型-年代款,14,看车-车型-年代款
3,奔驰gle350e油电混合,15,看车-车型-按其他标识,15,看车-车型-按其他标识,15,看车-车型-按其他标识
4,12年q5,14,看车-车型-年代款,14,看车-车型-年代款,14,看车-车型-年代款
...,...,...,...,...,...,...,...
995,2015p帕萨特,14,看车-车型-年代款,14,看车-车型-年代款,14,看车-车型-年代款
996,大众大众,7,看车-品牌-品牌名,7,看车-品牌-品牌名,7,看车-品牌-品牌名
997,18年路虎揽胜,14,看车-车型-年代款,14,看车-车型-年代款,14,看车-车型-年代款
998,gls350猎装,15,看车-车型-按其他标识,15,看车-车型-按其他标识,15,看车-车型-按其他标识
999,cls6308,14,看车-车型-年代款,15,看车-车型-按其他标识,14,看车-车型-年代款

In [ ]:
# 定义diff_val，
# 0表示model1和model2预测都正确
# 1表示model1预测正确
# 2表示model2预测正确
# 3表示model1和model2都识别错误
def diff_val(model1,model2,label_idx):
    if model1 == model2 and model1 == label_idx:
        return '0'
    elif model1 != model2 and model1 == label_idx:
        return '1'
    elif model1 != model2 and model2 == label_idx:
        return '2'
    else:
        return '3'
test_data['diff_val'] = test_data.apply(lambda row :diff_val(row['model1_pred_idx'],row['model2_pred_idx'],row['label_idx_gt']),axis =1)
test_data

,query,label_idx_gt,label_val_gt,model1_pred_idx,model1_pred_val,model2_pred_idx,model2_pred_val,diff_val
0,s90t8,15,看车-车型-按其他标识,15,看车-车型-按其他标识,15,看车-车型-按其他标识,0
1,奔驰23款,14,看车-车型-年代款,5,看车-找车-按其他需求,5,看车-找车-按其他需求,3
2,2022款rav,14,看车-车型-年代款,14,看车-车型-年代款,14,看车-车型-年代款,0
3,奔驰gle350e油电混合,15,看车-车型-按其他标识,15,看车-车型-按其他标识,15,看车-车型-按其他标识,0
4,12年q5,14,看车-车型-年代款,14,看车-车型-年代款,14,看车-车型-年代款,0
...,...,...,...,...,...,...,...,...
995,2015p帕萨特,14,看车-车型-年代款,14,看车-车型-年代款,14,看车-车型-年代款,0
996,大众大众,7,看车-品牌-品牌名,7,看车-品牌-品牌名,7,看车-品牌-品牌名,0
997,18年路虎揽胜,14,看车-车型-年代款,14,看车-车型-年代款,14,看车-车型-年代款,0
998,gls350猎装,15,看车-车型-按其他标识,15,看车-车型-按其他标识,15,看车-车型-按其他标识,0
999,cls6308,14,看车-车型-年代款,15,看车-车型-按其他标识,14,看车-车型-年代款,2

In [ ]:
# 四大类表示
# 0表示其他
# 1表示品牌
# 2表示厂商
# 3表示车系
# 4表示车型
def entity(label_idx):
    all_entity = ['7','8','9','14','15']
    if label_idx not in all_entity:
        return '0'
    elif label_idx == '7':
        return '1'
    elif label_idx == '8':
        return '2'
    elif label_idx == '9':
        return '3'
    elif label_idx in ['14','15']:
        return '4'

test_data['entity'] = test_data.apply(lambda row :entity(row['label_idx_gt']),axis =1)
test_data

,query,label_idx_gt,label_val_gt,model1_pred_idx,model1_pred_val,model2_pred_idx,model2_pred_val,diff_val,entity
0,s90t8,15,看车-车型-按其他标识,15,看车-车型-按其他标识,15,看车-车型-按其他标识,0,4
1,奔驰23款,14,看车-车型-年代款,5,看车-找车-按其他需求,5,看车-找车-按其他需求,3,4
2,2022款rav,14,看车-车型-年代款,14,看车-车型-年代款,14,看车-车型-年代款,0,4
3,奔驰gle350e油电混合,15,看车-车型-按其他标识,15,看车-车型-按其他标识,15,看车-车型-按其他标识,0,4
4,12年q5,14,看车-车型-年代款,14,看车-车型-年代款,14,看车-车型-年代款,0,4
...,...,...,...,...,...,...,...,...,...
995,2015p帕萨特,14,看车-车型-年代款,14,看车-车型-年代款,14,看车-车型-年代款,0,4
996,大众大众,7,看车-品牌-品牌名,7,看车-品牌-品牌名,7,看车-品牌-品牌名,0,1
997,18年路虎揽胜,14,看车-车型-年代款,14,看车-车型-年代款,14,看车-车型-年代款,0,4
998,gls350猎装,15,看车-车型-按其他标识,15,看车-车型-按其他标识,15,看车-车型-按其他标识,0,4
999,cls6308,14,看车-车型-年代款,15,看车-车型-按其他标识,14,看车-车型-年代款,2,4

In [ ]:
test_data.to_csv('compare_test.csv',index=None,sep=',',encoding='utf-8-sig',columns=output_cols)